* {
    margin: 0;
    padding: 0;
}

a {
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #ffffff;
    font-family:'Times New Roman', Times, serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.btn {
    width: 250px;
    padding: 15px;
    border: 1px solid #e5266e;
    background-color: #ffffff;
    color: #e5266e;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition-property: background-color, color, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.btn:hover {
    background-color: #e5266e;
    color: #ffffff;
}

.btn:focus {
    outline: none;
    background-color: #e5266e;
    color: #ffffff;
}

.btn:active {
    box-shadow: -12px 15px 15px -2px rgba(34, 60, 80, 0.2);
}